body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

.map {
  height: calc(100% - 46px);
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/* Modal Styles */
.modal-add-point {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-point-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 60%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), 0 7px 20px rgba(0, 0, 0, 0.3);
  animation-name: modalopen;
  animation-duration: 0.6s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-close {
  float: right !important;
}
.input-control input:focus {
  outline: none !important;
}
.input-control.success input {
  border-color: #09c372;
}
.input-control.error input {
  border-color: #ff3876;
}
.input-control .error {
  margin-top: 5px;
  color: #ff3876;
  font-size: 12px;
  height: 16px;
}

/* Query Point */
.modal-query-point {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
